{% extends 'base.html' %}

{% block content %}

<h1>THIS IS THE ABOUT US PAGE</h1>
<p>
We have in excess of 16,000 eateries and 350,000 colleagues in excess of 100 nations. Regardless of whether it’s the first Stuffed Crust or just baking a cookie with your coffee in space, we drive constantly ourselves to convey hot food, fast every time – anyplace you need to appreciate it.

At FOOODIIE , we are not simply baking  pizza but involved in other fast food like sandwiches , burgers and cookies. We make individuals happy and satisfy their hunger. THE FOOODIIE COMPANY was based on the conviction that pizza night ought to be exceptional, and we convey that conviction into all that we do. With over 55 years of experience under our belts, we see how to best serve our clients through time tested administration standards: We make food we’re pleased to serve and convey it fast, with a grin.</p>

{% endblock%}
