{% extends 'base.html'  %}

{% block content %}

<h1>THIS IS THE Home PAGE</h1>
<br>
<h1>SOME FUN FACTS ABOUT FOOD WHICH YOU DIDN'T KNOW</h1>
<br>
<h4>
<p>
2. Carrots can turn your skin orange<br>
3. Hot chocolate is older than you think<br>
4. Carrots come in many colors<br>
5. There's a reason students give apples to teachers<br>
6. Cucumbers are mostly water<br>
7. Average Basic Cost Of An F1 Car Is $7 Million Without Basic Components<br>
8. Almonds aren't nuts<br>
9. American cheese is really "cheese product"<br>
10. Cranberries will bounce if they're fresh<br>
11. Vanilla flavoring has some scary ingredients<br>
12. Ketchup was once thought to be a great cure<br>
13. White chocolate isn't real chocolate<br>
14. Pomegranate seeds vary<br>
15. Apples can stay fresh for a LONG time<br>  
</p>
</h4>
{% endblock %}



Form's plugin
Payments redirection

